:root {
    --cor-principal: #A72076;
    --cor-secundario: #DF4C24;
    --cor-preto: #333;
    --cor-whatsapp: #25D366;
    --cor-branco: #F0F0F0;
}
body {
    font-family: 'Montserrat',sans-serif; 
    background: url("../img/pattern-randomized.svg") no-repeat center center fixed;
    background-size: cover;
}

header {
    background: var(--cor-preto);
    padding: 5px 0;
    border-radius: 0px 0px 150px 100px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 150px;
}

nav {
    position: absolute;
    top: 25px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: var(--cor-principal);
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    color: var(--cor-secundario);
}

nav li:nth-last-child(2){
    padding: 5px;
    /*background: rgb(223,76,36);
    background: linear-gradient(90deg, rgba(223,76,36,1), rgba(167,32,118,1));*/
    background: var(--cor-whatsapp);
    box-sizing: border-box;
    border-radius: 5px ;
}

nav li:nth-last-child(2) img{
    width: 5%;
    margin: auto;
}

nav li:last-of-type {
    padding: 5px;
    background: rgb(223,76,36);
    background: linear-gradient(90deg, rgba(223,76,36,1), rgba(167,32,118,1));
    box-sizing: border-box;
    border-radius: 5px ;
}

.nav-font {
    color: var(--cor-branco);
    font-weight: bold ;
}

.nav-font:hover {
    color: var(--cor-preto);
}

.intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100vh;
}

.intro h1 {
    margin: 0 1.5%;
    padding: 100px 0px 20px 20px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cor-principal);
    text-shadow: 0 0 1em var(--cor-principal), 0 0 0.2em var(--cor-principal);
}

.intro p {
    margin: 0 1.5%;
    padding: 30px 20px;
    font-size: 35px;
    color: var(--cor-branco);
}

.img-intro {
    width: 120%;
}

.sobre-nos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    margin: 0 auto;
    min-height: 100vh;
    grid-template-areas: 
    "img-sobrenos texto-sobrenos";
}

.texto-sobrenos {
    grid-area: texto-sobrenos;
}

.img-sobrenos {
    width: 120%;
    grid-area: img-sobrenos;
}

.sobre-nos h2 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: var(--cor-principal);
}

.sobre-nos p {
    margin: 0 1.5%;
    padding: 30px 20px;
    font-size: 20px;
    color: var(--cor-branco);
}

.principal {
    width: 940px;
    margin: 0 auto;
    min-height: 100vh;
}

.principal h2 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: var(--cor-principal);
}

.principal p {
    font-size: 25px;
    text-align: center;
    padding: 10px 20px 0px;
    color: var(--cor-branco);
}

.principal lottie-player{
    width: 30%;
    margin:  auto;
}

.servicos {
    width: 940px;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 50px;  
}

.servicos h2 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: var(--cor-principal);
}

.servicos p {
    font-size: 25px;
    text-align: center;
    padding: 20px 30px;
    color: var(--cor-branco);
}

.container-servicos {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "itens-servicos1 arvore-servicos itens-servicos2"
    "itens-servicos3 arvore-servicos itens-servicos4"
    "itens-servicos5 arvore-servicos itens-servicos6";
 }

 .container-servicos h3 {
    font-size: 15px;
    color: var(--cor-branco);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.container-servicos p{
    font-size: 15px;
    padding: 5px;
}

.itens-servicos1{
    grid-area: itens-servicos1;
}

.arvore-servicos {
    grid-area: arvore-servicos;
}

.arvore-servicos img{
    width: 100%;
}

.itens-servicos2{
    grid-area: itens-servicos2;
}

.itens-servicos3{
    grid-area: itens-servicos3;
}

.itens-servicos4{
    grid-area: itens-servicos4;
}

.itens-servicos5{
    grid-area: itens-servicos5;
}

.itens-servicos6{
    grid-area: itens-servicos6;
}

.img-servicos {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.mapa {
    width: 940px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 10rem var(--gap);
}

.mapa h3 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: var(--cor-principal);
}

.mapa p{
    font-size: 25px;
    text-align: center;
    padding: 20px 30px;
    color: var(--cor-branco);
}

.mapa-conteudo {
    width: 940px;
    display: block;
    margin: auto;
}

.area-comercial {
    width: 940px;
    display: block;
    margin: auto;
    min-height: 35vh;
}

.area-comercial-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.texto-comercial{
    font-size: 3rem;
    color: var(--cor-principal);
    text-shadow: 0 0 1em var(--cor-principal), 0 0 0.2em var(--cor-principal);
    letter-spacing: -1px;
}

.button-comercial{
    display: block;
    margin: auto;
}

.button-comercial button {
    background: rgb(223,76,36);
    background: linear-gradient(90deg, rgba(223,76,36,1), rgba(167,32,118,1));
    box-sizing: border-box;
    border-radius: 30px ;
    border: none;
    padding: 1rem;
}

.button-comercial a{
    text-decoration: none;
    font-size: 30px;
    color: var(--cor-branco);
}

.button-comercial button:hover{
    box-shadow: 0px 0px 30px 1px var(--cor-principal);
    background: var(--cor-principal);
}

footer {
    background: var(--cor-preto);
    border-radius: 150px 150px 0px 0px;
}

.caixa-footer {
    margin: 0 auto;
    min-height: 90vh;
    width: 940px;
}

.container-footer {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "logo-footer institucional-footer servicos-footer parceiros-footer";
   
}

.container-footer h4 {
    font-size: 20px;
    color: var(--cor-branco);
    text-align: center;
    padding: 10px;
}

.container-footer p{ 
    text-align: center;   
    padding: 5px 10px 5px 10px;     
    color: var(--cor-branco);
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.container-footer a{
    color: var(--cor-branco);
    text-decoration: none;
}

.container-footer a:hover {
    color: var(--cor-principal);
}

.logo-footer {
    display: block;
    grid-area: logo-footer;
    border-right: 1px solid var(--cor-branco);
}

.b2i-logo-footer {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.rede-social li{
    display: inline-block;
    width: 49%;
}

.rede-social i {
    display: block;
    font-size: 48px;
    color: var(--cor-principal);
    text-align: center;
}

.rede-social i:hover {
    color: var(--cor-secundario);
}

.institucional-footer {
    grid-area: institucional-footer;
    border-right: 1px solid var(--cor-branco);
}

.servicos-footer {
    grid-area: servicos-footer;
    border-right: 1px solid var(--cor-branco);
}

.parceiros-footer {
    grid-area: parceiros-footer;
}

.parceiros-footer img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.parceiros-footer a {
    display: block;
    margin: 5px auto; /* Adiciona espaço entre os itens */
    width: 75%;
    padding: 0px; /* Espaçamento interno */
    background-color: var(--cor-preto); /* Cor de fundo similar ao azul do ícone */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado dos links */
    border-radius: 15px; /* Cantos arredondados */
}

.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 1.3rem;
    color: var(--cor-principal);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    text-decoration: none;
    font-size: 3rem;
}

.back-to-top:hover{
    color: var(--cor-secundario);
}

.copyright {
    background: var(--cor-preto);
}

.copyright p{
    text-align: center;
    padding: 1em;
    color: var(--cor-branco);
}

@media screen  and (max-width: 800px)  {
    .caixa, .intro, .sobre-nos, .principal, .servicos,.mapa, .mapa-conteudo, .caixa-footer, .img-intro, .img-sobrenos,.area-comercial{
        width: auto;
    }
    header {
        border-radius: 0px;
    }
    nav {
        position: static;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
    }
    nav li {
        align-items: center;
        display: inline-block;
        margin: 0 auto;
    }
    nav a {
        font-size: 15px;
    }
    .logo{
        display: block;
        margin: 0 auto;
    }
    .intro {
        grid-template-columns: 1fr;    
    }
    .intro h1 {
        padding: 30px 20px 0px 20px;
        font-size: 40px;
    }
    .intro p {
        padding: 15px 20px 0px 20px;
        font-size: 35px;
    }
    .img-intro {
        display: block;
        margin: 0 auto;
        width: auto;
    }
    .sobre-nos {
        grid-template-columns: 1fr;
        grid-template-areas:
        "texto-sobrenos"
        "img-sobrenos" ;    
    }
    .sobre-nos h2 {
        font-size: 40px;
    }
    .sobre-nos p {
        padding: 15px 20px;
    }
    .principal h2 {
        font-size: 40px;
        padding: 20px 0px;
    }
    .principal p {
        font-size: 20px;
    }
    .principal lottie-player{
        width: auto;
    }
    .servicos h2{
        font-size: 40px;
    }
    .container-servicos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "arvore-servicos"
        "itens-servicos1"
        "itens-servicos2" 
        "itens-servicos3" 
        "itens-servicos4"
        "itens-servicos5";
     }
     .container-servicos div {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .arvore-servicos {
        width: 50%;
    }
    .img-servicos {
        width: auto;
    }

    .mapa {
        min-height: 80vh;
    }
    .mapa h3 {
        font-size: 40px;
    }
    .area-comercial-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .texto-comercial {
        text-align: center;
        padding-bottom: 20px;
    }
    .container-footer {
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "logo-footer"
        "institucional-footer" 
        "servicos-footer" 
        "parceiros-footer";       
    }
    .logo-footer {
        border-right: 0px;
        border-bottom: 1px solid var(--cor-branco);
        width: auto;
    }

    .rede-social i{
       padding-bottom: 1rem;
    }
    
    .institucional-footer {
        border-right: 0px;
        border-bottom: 1px solid var(--cor-branco);
        padding: 1rem;
    }
    
    .servicos-footer {
        border-right: 0px;
        border-bottom: 1px solid var(--cor-branco);
        padding: 1rem;
    }
    .copyright {
        min-height: 10vh;
    }
    
}
